@import "styles/variables.scss";

.wr {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  animation: showImage 0.4s forwards;
  position: relative;
  // cursor: pointer;

  & > img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    transition: opacity 0.3s;
  }
}

@keyframes showImage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
