@import "styles/variables.scss";

.cases {
  margin-bottom: 164px;
  padding-top: 56px;
  @include laptop {
    margin-bottom: 10.98vw;
  }
  @include mobile {
    padding-top: 0;
    margin-bottom: 80px;
  }

  &_wrapper {
    display: flex;
    flex-direction: column;
    gap: 155px;
    @include laptop {
      gap: 11.6vw;
    }
    @include mobile {
      gap: 48px;
    }
  }

  & .item {
    display: flex;
    gap: 21px;
    @include mobile {
      max-width: 100%;
      gap: 48px;
      flex-direction: column;
    }

    & img {
      border-radius: 15px;
    }
    & .left {
      & > div {
        aspect-ratio: 16/10;
        height: 470px;
        @include laptop {
          height: 35.26vw;
        }
        @include mobile {
          height: auto;
        }
      }
    }
    & .right > div {
      aspect-ratio: 10/16;
      height: 349px;
      @include laptop {
        height: 26.18vw;
      }
      @include mobile {
        aspect-ratio: 1/1;
        height: auto;
        width: 100%;
      }
    }
    & > a {
      position: relative;
      flex-shrink: 0;
      flex-basis: min-content;
    }
    & figure {
      & > div {
        margin-bottom: 24px;
        @include laptop {
          margin-bottom: 1.3vw;
        }
        @include mobile {
          margin-bottom: 24px;
        }
      }
      & > p {
        word-break: break-word;
        @include text-small;

        @include mobile {
          max-width: 70%;
        }
        & svg {
          height: 1.1em;
          width: 1.1em;
          transform: translateY(20%);
          margin-right: 0.1em;
        }
      }
    }

    .num {
      & > h2 {
        white-space: nowrap;
        color: #222;
        @include m4;
        font-size: 75px;
        line-height: 75px;
        letter-spacing: -4.5px;
        margin-bottom: 18px;
        @include laptop {
          font-size: 5.6vw;
          line-height: 5.6vw;
          margin-bottom: 1.35vw;
          letter-spacing: -0.35vw;
        }
        @include mobile {
          font-size: 48px;
          line-height: 48px;
          letter-spacing: -1.92px;
          margin-bottom: 12px;
        }
      }
      & > p {
        @include text-small;
        padding-left: 10px;
        @include mobile {
          max-width: 70%;
        }
        @include mobile {
          padding-left: 0;
        }
      }
    }
  }
}

.projects {
  margin-bottom: 180px;
  padding-top: 0px;
  @include mobile {
    margin-bottom: 80px;
  }

  & .item {
    display: flex;
    gap: 38px;
    @include laptop {
      gap: 2.96vw;
    }
    @include mobile {
      max-width: 100%;
      gap: 48px;
      flex-direction: column;
    }
    & img {
      border-radius: 15px;
    }
    & > a {
      position: relative;
    }

    & figure {
      & > div {
        margin-bottom: 24px;
        @include laptop {
          margin-bottom: 1.3vw;
        }
        @include mobile {
          margin-bottom: 24px;
        }
      }
      & p {
        @include text-small;

        & svg {
          height: 1.1em;
          width: 1.1em;
          transform: translateY(20%);
          margin-right: 0.1em;
        }
      }
    }

    .num {
      & > h2 {
        margin-bottom: 9px;
        white-space: nowrap;
        color: #222;
        @include m4;
        font-size: 75px;
        line-height: 75px;
        letter-spacing: -4.5px;
        @include laptop {
          font-size: 5.6vw;
          line-height: 5.6vw;
          margin-bottom: 1.35vw;
          letter-spacing: -0.35vw;
        }
        @include mobile {
          font-size: 48px;
          line-height: 48px;
          letter-spacing: -1.92px;
          margin-bottom: 12px;
        }
      }
      & > p {
        @include text-small;
        padding-left: 0px;
        max-width: 50%;
        @include mobile {
          max-width: 70%;
        }
      }
    }
  }
}

// -----------

.title_main {
  font-size: 72px;
  @include m6;
  line-height: 75px;
  letter-spacing: -2.88px;
  margin-bottom: 94px;
  @include laptop {
    font-size: 5.62vw;
    line-height: 5.7vw;
    margin-bottom: 7.2vw;
    letter-spacing: -0.2vw;
  }
  @include mobile {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -1.92px;
    margin-bottom: 48px;
  }
}

.title_projects {
  @include text-large;
  margin-bottom: 60px;
  @include laptop {
    margin-bottom: 5.2vw;
  }
  & > span {
    display: block;
  }
}

.author_wrapper {
  margin-bottom: 167px;
  @include laptop {
    margin-bottom: 12.53vw;
  }
  @include mobile {
    margin-bottom: 76px;
  }
}

// --- ITEMS ---

.item_skysmart {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;

  @include mobile {
    flex-direction: column-reverse !important;
  }

  & .right {
    & > div:first-child {
      height: 484px;
      width: 957px;
      & img {
        object-fit: contain;
      }
      @include laptop {
        height: 36.3vw;
        width: 71.79vw;
      }
      @include mobile {
        width: 100%;
        height: 44.375vw;
      }
    }

    & > div:nth-child(2) {
      margin-bottom: 0;
      display: flex;
      height: auto;
      aspect-ratio: auto;
      width: 100%;
      gap: 60px;

      @include mobile {
        flex-direction: column;
        gap: 20px;
      }
      & > p {
        flex-shrink: 1;
        @include text-small;

        & svg {
          width: 1.1em;
          height: 1.1em;
          transform: translateY(20%);
          margin-right: 0.1em;
        }
      }
    }
  }
}

.item_slezy {
  align-self: flex-end;
  & p {
    @include mobile {
      max-width: 80%;
    }
  }
  & .left > div {
    overflow: hidden;
    aspect-ratio: auto;
    border-radius: 15px;
    height: 472px;
    width: 648px;

    @include laptop {
      height: 35.26vw;
      width: 48.68vw;
    }
    @include mobile {
      height: 63.75vw;
      width: 100%;
    }

    & img {
      transition: transform 0.3s;
    }
    &:hover {
      & img {
        transform: scale(1.05);
      }
    }
  }
}

.item_smartfest,
.item_vk {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  @include mobile {
    flex-direction: column-reverse;
  }
  & figure {
    & > div:first-child {
      height: 484px;
      width: 957px;
      & img {
        object-fit: contain;
      }
      @include laptop {
        height: 36.3vw;
        width: 71.79vw;
      }
      @include mobile {
        width: 100%;
        height: 44.375vw;
        min-height: auto;
      }
    }

    & > div:nth-child(2) {
      margin-bottom: 0;
      display: flex;
      height: auto;
      aspect-ratio: auto;
      width: 100%;
      gap: 60px;

      @include mobile {
        flex-direction: column;
        gap: 12px;
        min-height: auto;
      }
      & > p {
        @include text-small;
        flex-shrink: 1;
        word-break: break-word;

        & svg {
          width: 1.1em;
          height: 1.1em;
          transform: translateY(20%);
          margin-right: 0.1em;
        }
      }
    }
  }
}

.item_smartfest {
  flex-direction: row-reverse;
  // overflow-x: hidden;
  @include laptop {
    gap: 0 !important;
  }
  @include mobile {
    flex-direction: column-reverse !important;
    gap: 20px !important;
  }
}

.parashut {
  mask-image: url("/assets/video-parashut-mask.svg");
  mask-position: center center;
  mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-image: url("/assets/video-parashut-mask.svg");
  -webkit-mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  width: 311px;
  height: 311px;

  @include laptop {
    width: 23.33vw;
    height: 23.33vw;
  }
  @include mobile {
    height: auto;
    width: 100%;
  }
  &_wrapper {
    position: relative;
    width: fit-content;
    z-index: 999999999;
    &:hover {
      cursor: pointer;
      & span {
        transform: translate(-50%, -50%) scale(1.2);
      }
    }
    @include mobile {
      width: auto;
    }

    & > svg {
      pointer-events: none;
      transition: transform 0.2s, opacity 0.3s;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      @include laptop {
        width: 20%;
        height: 20%;
      }
      @include mobile {
        width: 55px;
        height: 55px;
      }
    }
  }
}

.iframe_fest {
  border-radius: 15px;
  padding: 56.25% 0 0 0;
  position: relative;
  overflow: hidden;
  @include mobile {
    overflow: visible;
  }
  & iframe,
  & video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.case_link {
  & p > a {
    @include hoveredText;
  }
  &:hover {
    button {
      transform: rotate(-90deg);
    }
    p > a {
      background-size: 100% 1px;
      @include mobile {
        background-size: 100% 1px;
      }
    }
  }

  &:active,
  &:focus {
    & button > span > svg {
      transform: translateY(20%);
    }
  }
}

.par {
  display: flex;
  flex-direction: column;
  & section {
    flex-basis: 100%;
    & p {
      @include mobile {
        max-width: 80%;
      }
    }
    & p > a {
      @include hoveredText;
    }
    &:hover {
      cursor: pointer;
      button {
        transform: rotate(-90deg);
      }
      p > a {
        background-size: 100% 1px;
        @include mobile {
          background-size: 100% 1px;
        }
      }
    }
    &:active,
    &:focus {
      & button > span > svg {
        transform: translateY(20%);
      }
    }
  }
}
