@import "styles/variables.scss";

.gallery {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 400px 253px;
  @include laptop {
    grid-template-rows: 29vw 19vw;
  }

  @for $i from 1 to 6 {
    & > img:nth-child(#{$i}) {
      grid-area: i#{$i};
      border-radius: 20px;
      @include mobile {
        border-radius: 10px;
      }
    }
  }
}

.mb {
  @include mobile {
    margin-bottom: 50px;
  }
}

.type {
  &_1 {
    grid-template-areas: "i1 i1 i1 i2 i2 i2" "i3 i3 i4 i4 . .";
    @include mobile {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: "i1 i1" "i2 i2" "i3 i4";
      grid-template-rows: auto;
    }
  }
  &_2 {
    grid-template-areas: "i1 i1 i1 i1 . ." ". . i2 i2 i3 i3";
    @include mobile {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: "i1 i1" "i2 i3";
      grid-template-rows: auto;
    }
  }
  &_3 {
    grid-template-areas: "i1 i2 i2";
    grid-template-rows: 400px;
    grid-template-columns: repeat(3, 1fr);
    @include laptop {
      grid-template-rows: 29vw;
    }
    @include mobile {
      grid-template-columns: 1fr;
      grid-template-areas: "i1" "i2";
      grid-template-rows: 54.7vw 93.75vw;
    }
  }

  &_4 {
    grid-template-areas: ". . . i1 i1 i1" "i2 i2 i3 i3 i4 i4";
    grid-template-rows: 400px 253px;
    @include laptop {
      grid-template-rows: 29vw 19vw;
    }
    @include mobile {
      grid-template-rows: auto;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: "i1 i1" "i2 i2" "i3 i4";
    }
  }

  &_5 {
    grid-template-columns: repeat(3, 1fr);

    grid-template-areas: "i1 i1  ." ". i2 i3";
    grid-template-rows: 400px 253px;
    @include laptop {
      grid-template-rows: 29vw 19vw;
    }
    @include mobile {
      grid-template-rows: auto;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: "i1 i1" "i2 i3";
    }
  }

  &_6 {
    grid-template-areas: "i1 i1 i2";
    grid-template-rows: 400px;
    grid-template-columns: repeat(3, 1fr);
    @include laptop {
      grid-template-rows: 29vw;
    }
    @include mobile {
      grid-template-columns: 1fr;
      grid-template-areas: "i1" "i2";
      grid-template-rows: 54.7vw 93.75vw;
    }
  }

  &_7 {
    grid-template-areas: ". i1 i1";
    grid-template-rows: 600px;
    grid-template-columns: repeat(3, 1fr);
    @include laptop {
      grid-template-rows: 43vw;
    }
    @include mobile {
      grid-template-columns: 1fr;
      grid-template-areas: "i1";
      grid-template-rows: 71.88vw;
    }

    &:nth-of-type(2) {
      grid-template-areas: "i1 i1 .";
      @include mobile {
        grid-template-areas: "i1";
      }
    }
  }
}

.class_vk {
  @include mobile {
    & > img:first-child {
      grid-area: i2;
    }
    & > img:last-child {
      grid-area: i1;
    }
  }
}
