@import "styles/variables.scss";
.form {
  animation: showSended 0.4s forwards;

  @include mobile {
    margin-bottom: 9.7px;
  }
}
.wr {
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 36px;
  background-color: #fff;
  border-radius: 63px;
  height: 736px;
  @include laptop {
    height: 52.57vw;
    height: 52.57vw;
    padding: 2.57vw;
    border-radius: 4.9vw;
  }
  @include mobile {
    height: auto;
    padding: 21.5px 14px 15px;
    border-radius: 32px;
  }
  & > h3 {
    margin: 0 auto 6px;
    text-align: center;
    @include text-medium;
    color: #2a2929;
    letter-spacing: -1.08px;
    @include laptop {
      margin-bottom: 0.47vw;
      letter-spacing: -0.08vw;
      font-size: 2.5vw;
    }
    @include mobile {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 6px;
      letter-spacing: -0.4px;
    }
  }

  &_flex {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
  }
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include mobile {
    margin-bottom: 11px;
  }

  & > div {
    width: 100%;

    & > label {
      color: #222;
      font-family: Manrope;
      font-size: 24px;
      line-height: 27px;
      letter-spacing: -0.48px;
      top: 20px;
      overflow: visible;
      @include laptop {
        top: 1.2vw;
        font-size: 1.55vw;
        line-height: 1.8vw;
        letter-spacing: -0.038vw;
      }
      @include mobile {
        font-size: 14px;
        line-height: 125%;
        letter-spacing: normal;
      }
    }
    & > div {
      margin-top: 0;
      padding: 38px 0 8px;
      @include laptop {
        padding: 1.64vw 0 0.66vw;
      }
      @include mobile {
        padding: 20px 0 10px;
      }
      &::before,
      &::after {
        border-bottom: 0.75px solid #eeecec;
      }

      & > input {
        text-overflow: ellipsis;
        padding: 0;
        font-size: 24px;
        letter-spacing: -0.48px;
        line-height: 27px;
        @include laptop {
          font-size: 1.4vw;
          line-height: 2vw;
          letter-spacing: -0.038vw;
        }
        @include mobile {
          font-size: 14px;
          line-height: 20px;
          letter-spacing: normal;
        }
      }
    }
    &:last-of-type {
      margin-bottom: 0;
      padding-top: 38px;
      @include laptop {
        padding-top: 2.97vw;
      }
      @include mobile {
        padding-top: 20px;
      }
      & > label {
        @include text-small;
        margin-bottom: 13px;
        @include laptop {
          margin-bottom: 1vw;
        }
        @include mobile {
          margin-bottom: 8px;
          font-size: 12px;
          line-height: 12px;
        }
      }
      & > div {
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
        gap: 4px;
        @include laptop {
          gap: 0.31vw;
        }
        @include mobile {
          gap: 0.94vw;
          flex-wrap: wrap;
        }

        & > label {
          margin: 0;
          display: block;
          color: #222;
          @include laptop {
            min-width: 20%;
          }
          & > span {
            @include text-small;

            @include button;
            display: flex;
            justify-content: center;
            padding: 6.6px 13px;
            border-radius: 56px;
            white-space: nowrap;
            transition: color 0.3s, background-color 0.3s, border-color 0.3s;
            @include laptop {
              border-radius: 4.37vw;
              padding: 0.3vw 0.1vw;
              width: 100%;
            }
            @include mobile {
              font-size: 3.75vw;
              padding: 1.25vw 3.13vw;
              border-radius: 9.06vw;
              width: 100%;
            }
            &:hover {
              color: #fff;
            }
            &:first-child {
              display: none;
            }
          }
        }
      }
    }
  }
}

button[type="submit"] {
  @include text-small;
  border-radius: 85px;
  border: 0.75px solid #222;
  padding: 27px 0;
  width: 100%;
  color: #fff;
  background-color: #000;
  transition: color 0.3s, background-color 0.3s;
  & path {
    transition: fill 0.3s;
  }
  &:hover {
    color: #222;
    background-color: #fff;
    & path {
      fill: #222;
    }
  }
  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  @include laptop {
    padding: 2.1vw 0;
    border-radius: 6.64vw;
  }
  @include mobile {
    padding: 17.5px 0;
    font-size: 14px;
    border-radius: 49px;
  }
}

.form_sended {
  & > .wr {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
    padding-top: 252px !important;
    padding-bottom: 52px !important;
    justify-content: space-between;
    gap: 243px;
    @include laptop {
      padding-top: 15vw !important;
      padding-bottom: 4vw !important;
      gap: 17.8vw;
    }
    @include mobile {
      padding-top: 41vw !important;
      padding-bottom: 8vw !important;
      gap: 40vw;
    }
    & > h2 {
      width: 100%;
      display: block;
      @include m6;
      font-size: 72px;
      line-height: 75px;
      letter-spacing: -2.88px;
      @include laptop {
        font-size: 5.62vw;
        line-height: 5.7vw;
        letter-spacing: -0.2vw;
      }
    }
    & > p {
      @include text-small;
    }
  }
}

@keyframes showSended {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.policy {
  @include mobile {
    margin-bottom: 11px;
  }
  &_text {
    font-size: 12px;
    line-height: 125%;
    color: #222;
    @include laptop {
      font-size: 0.86vw;
    }
    @include mobile {
      font-size: 8px;
    }
    & > a {
      text-decoration: underline;
      text-decoration-skip-ink: none;
    }
  }
}

.checkbox {
  & svg {
    width: 28px;
    height: 28px;
    @include laptop {
      width: 2vw;
      height: 2vw;
    }
    @include mobile {
      width: 20px;
      height: 20px;
    }
  }
}
