@import "styles/variables.scss";

.wr {
  text-align: center;
  max-width: 80%;
  margin: 0 auto 97px;
  & > div {
    display: flex;
    flex-direction: column;
    gap: 76.5px;
    @include laptop {
      gap: 5.94vw;
    }
    @include mobile {
      gap: 64px;
    }
  }
  @include laptop {
    margin-bottom: 7.58vw;
  }
  @include mobile {
    max-width: 100%;
    margin-bottom: 80px;
  }
  & > h2 {
    font-size: 72px;
    @include m6;
    line-height: 112px;
    letter-spacing: -2.88px;
    margin-bottom: 76.5px;
    @include laptop {
      font-size: 5.62vw;
      line-height: 8.75vw;
      margin-bottom: 6.2vw;
    }
    @include mobile {
      font-size: 48px;
      line-height: 48px;
      letter-spacing: -1.92px;
      margin-bottom: 56px;
    }
  }
  & h3 {
    font-size: 24px;
    line-height: 27px;
    font-weight: 400;
    letter-spacing: -0.48px;
    margin-bottom: 24px;
    @include laptop {
      margin-bottom: 1.87vw;
      font-size: 1.87vw;
      line-height: 2vw;
    }
    @include mobile {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 20px;
    }
  }
  & svg {
    width: 56px;
    height: 56px;
    margin-bottom: 20px;
    @include laptop {
      margin-bottom: 1.43vw;
      width: 4vw;
      height: 4vw;
    }
    @include mobile {
      width: 23px;
      height: 23px;
      margin-bottom: 28px;
    }
  }

  & p {
    @include text-medium;
    letter-spacing: -1.08px;
    @include laptop {
      letter-spacing: -0.08vw;
    }
    @include mobile {
      letter-spacing: -0.4px;
    }
  }
}
