@import "styles/variables.scss";

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 100px #fff inset !important;
  -webkit-text-fill-color: #222 !important;
}

#contactForm {
  & .Mui-checked ~ span {
    color: #fff;
    background-color: #222;
  }
  & .Mui-focused {
    color: #222;
  }
}

.MuiFormLabel-root {
  transform: translate(0, 16px) scale(1) !important;
  @include laptop{
    transform: translate(0, 1vw) scale(1) !important;
  }
  @include mobile{
    transform: translate(0, 16px) scale(1) !important;
  }
}
.MuiInputLabel-shrink{
  transform: translate(0, -9px) scale(0.7) !important;
}