@mixin m4 {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 400;
}
@mixin m5 {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 500;
}
@mixin m6 {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 600;
}

@mixin button {
  color: #000;
  background-color: transparent;
  transition: color 0.3s, background-color 0.3s;
  & path {
    transition: fill 0.3s;
  }
  &:hover {
    color: #fff;
    background-color: #000;
    & path {
      fill: #fff;
    }
  }
}

@mixin text-small {
  color: #000;
  @include m5;
  font-size: 18px;
  line-height: 24px;
  @include laptop {
    font-size: 1.11vw;
  }
  @include mobile {
    font-size: 16px;
    line-height: 20px;
  }
}
@mixin text-medium {
  color: #000;
  font-size: 36px;
  line-height: 45px;
  letter-spacing: -1.08px;
  @include m5;

  @include laptop {
    font-size: 2vw;
  }
  @include mobile {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.4px;
  }
}
@mixin text-large {
  color: #000;
  font-size: 93px;
  line-height: 93px;
  letter-spacing: -3.72px;
  @include m5;
  @include laptop {
    font-size: 4vw;
  }
  @include mobile {
    font-size: 36px;
    line-height: 36px;
    letter-spacing: -0.72px;
  }
}
// --- BREAKPOINTS ---

$desktop-width: 1500px;
$mobile-width: 450px;

@mixin laptop {
  @media (max-width: #{$desktop-width}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}
