@import "styles/variables.scss";

.wr {
  background: #f6f5f5;
  height: 842px;
  & > div {
    background-image: url("/assets/mainscreen.png");
    background-position: center 108px;
    background-size: 90% contain;
    background-repeat: no-repeat;
    @include laptop {
      background-size: contain;
      background-position: center 8vw;
    }
    @include mobile {
      background-size: 88% 66%;
      background-image: url("/assets/mainscreen-mobile.png");
      background-position: center 65%;
    }
  }
  @include laptop {
    height: 63vw;
  }
  @include mobile {
    height: 691px;
  }
  .main {
    padding: 20px 0 57px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    @include laptop {
      padding: 1.5vw 4.27vw;
    }
    @include mobile {
      padding: 25px 0 13px;
      justify-content: flex-start;
      gap: 36px;
      position: relative;
      & svg {
        width: 76px;
      }
      & > div:first-child > button {
        width: 130px;
        text-align: left;
      }
    }
    & nav > ul {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      font-size: 24px;
      line-height: 27px;
      letter-spacing: -0.48px;
      @include laptop {
        font-size: 1.8vw;
        line-height: 2vw;
        & svg {
          height: 1em;
        }
      }
      @include mobile {
        font-size: 16px;
        line-height: 20px;
        display: grid;
        grid-template-columns: 1fr 130px;
        grid-template-rows: auto auto;
        gap: 9px 21px;
        & svg {
          display: none;
        }
        & > li:first-child {
          order: -1;
        }
        & > li:nth-child(3) {
          order: 2;
          transform: translateY(-17px);
        }
        & > li:last-child {
          order: 0;
        }
        & > li:nth-child(2) {
          order: 1;
        }
      }

      & > li:last-child > a {
        position: relative;
        text-align: left;

        & > span {
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          @include button;
          padding: 3px 10px 5px;
          border-radius: 15px;
          transform: translate(100%, -50%);
          font-size: 13.5px;
          @include m4;
          line-height: 18px;
          @include laptop {
            padding: 2px 5px;
            font-size: 1vw;
            line-height: 0.7vw;
          }
          @include mobile {
            font-size: 10px;
            line-height: 14px;
          }
        }
      }

      & button {
        text-align: left;
        font-size: inherit;
        line-height: inherit;
        letter-spacing: inherit;
        min-width: 250px;
        @include laptop {
          min-width: auto;
        }
      }
    }
    & > div {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      & > a > button {
        @include button;
        background-color: #f6f5f5;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 163px;
        height: 163px;
        flex-shrink: 0;
        @include text-small;

        @include laptop {
          width: 12.2vw;
          height: 12.2vw;
          & svg {
            height: 10%;
          }
        }
        & > div {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 9px;
        }
      }
      & > a {
        @include mobile {
          position: absolute;
          bottom: 13px;
          width: 100%;
          & > button {
            height: 53px;
            width: 100%;
            border-radius: 27px;
            background: #000;
            color: #fff;
            font-size: 16px;
            line-height: 20px;
            padding: 17px 0;
          }
          & svg {
            display: none;
          }
        }
      }
    }
  }
}

.numbers {
  width: 80%;

  @include mobile {
    width: 100%;
  }
  & > ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 75px;
    padding: 78px 0;
    @include laptop {
      padding: 5.8vw 0;
      gap: 5.8vw;
    }
    @include mobile {
      grid-template-columns: 1fr;
      padding: 51px 0 0;
      gap: 35px;
    }
    & > li {
      &:nth-child(2),
      &:nth-child(3) {
        & h2 {
          letter-spacing: -3px;
          @include laptop {
            letter-spacing: normal;
          }
          @include mobile {
            letter-spacing: -1.92px;
          }
        }
      }
      & > h2 {
        color: #000;
        @include m4;
        font-size: 75px;
        line-height: 75px;
        letter-spacing: -7.5px;
        margin-bottom: 18px;
        @include laptop {
          font-size: 5.6vw;
          line-height: 5.6vw;
          margin-bottom: 1.35vw;
          letter-spacing: -0.1vw;
        }
        @include mobile {
          font-size: 48px;
          line-height: 48px;
          letter-spacing: -1.92px;
          margin-bottom: 12px;
        }
      }
      & > p {
        @include text-small;
      }
    }
  }
}

.about {
  padding: 96px 0;
  max-width: 80%;
  @include laptop {
    padding: 7.2vw 0;
  }
  @include mobile {
    padding: 64px 0;
    max-width: 100%;
  }
  & > ul {
    display: flex;
    flex-direction: column;
    gap: 51px;
    @include laptop {
      grid-template-columns: 1fr 6fr;
      gap: 1.1vw;
    }
    @include mobile {
      grid-template-columns: 1fr;
      gap: 48px;
    }
    & > li {
      display: grid;
      grid-template-columns: 201px 1fr;
      gap: 22px;
      @include laptop {
        grid-template-columns: 1fr 6fr;
        gap: 1.1vw;
      }
      @include mobile {
        grid-template-columns: 1fr;
        gap: 24px;
      }
      & > h2 {
        padding-top: 1em;
        @include text-small;
        height: fit-content;
        @include laptop {
          padding-top: 0;
        }
      }
      & > p {
        @include text-medium;
        @include laptop {
          letter-spacing: normal;
        }
      }
    }
  }
}

.cases {
  margin-bottom: 164px;
  padding-top: 56px;
  @include laptop {
    margin-bottom: 80px;
  }
  & .author_wrapper {
    margin-bottom: 167px;
    @include laptop {
      margin-bottom: 12.53vw;
    }
    @include mobile {
      margin-bottom: 76px;
    }
  }
  & .items {
    display: flex;
    flex-direction: column;
    gap: 155px;
    @include laptop {
      gap: 11.6vw;
    }
    @include mobile {
      gap: 48px;
    }
  }
  & > h1 {
    font-size: 72px;
    @include m6;
    line-height: 75px;
    letter-spacing: -2.88px;
    margin-bottom: 94px;
    @include laptop {
      font-size: 5.4vw;
      line-height: 5.5vw;
      margin-bottom: 7.2vw;
    }
  }
  & .item {
    max-width: 80%;
    display: flex;
    gap: 21px;
    @include mobile {
      max-width: 100%;
      gap: 48px;
      flex-direction: column;
    }

    & img {
      border-radius: 15px;
    }
    & > figure {
      &:first-child {
        & > div {
          aspect-ratio: 16/10;
          height: 470px;
          @include laptop {
            height: 35.26vw;
          }
          @include mobile {
            height: auto;
          }
        }
      }
      &:last-child {
        & > div {
          aspect-ratio: 10/16;
          height: 349px;
          @include laptop {
            height: 26.18vw;
          }
          @include mobile {
            aspect-ratio: 1/1;
            height: auto;
            width: 100%;
          }
        }
      }
      & > div {
        margin-bottom: 24px;
        @include laptop {
          margin-bottom: 1.3vw;
        }
        @include mobile {
          margin-bottom: 24px;
        }
      }
      & > p {
        @include text-small;

        & svg {
          height: 1.1em;
          transform: translateY(20%);
          margin-right: 0.1em;
        }
      }
    }

    .num {
      & > h2 {
        white-space: nowrap;
        color: #000;
        @include m4;
        font-size: 75px;
        line-height: 75px;
        letter-spacing: -4.5px;
        margin-bottom: 18px;
        @include laptop {
          font-size: 5.6vw;
          line-height: 5.6vw;
          margin-bottom: 1.35vw;
          letter-spacing: normal;
        }
        @include mobile {
          font-size: 48px;
          line-height: 48px;
          letter-spacing: -1.92px;
          margin-bottom: 12px;
        }
      }
      & > p {
        @include text-small;
        padding-left: 10px;
        @include mobile {
          padding-left: 0;
        }
      }
    }
    &:nth-child(2),
    &:nth-child(3) {
      max-width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 10px;
      @include mobile {
        flex-direction: column-reverse;
      }

      & > figure {
        & > div:first-child {
          height: 484px;
          width: 957px;
          & img {
            object-fit: contain;
          }
          @include laptop {
            height: 36.3vw;
            width: 71.79vw;
          }
          @include mobile {
            width: 100%;
            height: 44.375vw;
          }
        }

        & > div:last-child {
          display: flex;
          height: auto;
          aspect-ratio: auto;
          width: 100%;
          gap: 60px;
          @include mobile {
            flex-direction: column;
            gap: 20px;
          }
          & > p {
            @include text-small;

            & svg {
              height: 1.1em;
              transform: translateY(20%);
              margin-right: 0.1em;
            }
          }
        }
      }
    }
  }
}

.cases_projects {
  margin-bottom: 180px;
  padding-top: 0px;
  @include mobile {
    margin-bottom: 80px;
  }

  & > h2 {
    @include text-large;
    margin-bottom: 60px;
    @include laptop {
      margin-bottom: 5.2vw;
    }
  }
  & .item {
    gap: 38px;
    & > figure {
      &:first-child {
        & > div {
          aspect-ratio: auto;
          height: 472px;
          width: 649px;
          @include laptop {
            height: 35.26vw;
            width: 48.68vw;
          }
          @include mobile {
            height: 63.75vw;
            width: 100%;
          }
        }
      }
      &:last-child {
        & > div {
          aspect-ratio: none;
          width: 311px;
          height: 311px;
          border: 100px;
          overflow: hidden;
          @include laptop {
            width: 23.33vw;
            height: 23.33vw;
          }
          @include mobile {
            min-height: 87.5vw;
            height: auto;
            width: 100%;
          }
        }
      }
    }

    .num {
      & > h2 {
        margin-bottom: 9px;
      }
      & > p {
        padding-left: 0px;
        max-width: 50%;
      }
    }
    &:first-child {
      align-self: flex-end;
    }
    &:nth-child(2),
    &:nth-child(3) {
      max-width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 10px;
      @include mobile {
        flex-direction: column-reverse;
      }

      & > figure {
        & > div:first-child {
          @include mobile {
            min-height: auto;
          }
        }
        & > div:last-child {
          @include mobile {
            gap: 12px;
            min-height: auto;
          }
        }
      }
    }

    &:nth-child(3) {
      flex-direction: row-reverse;
      @include mobile {
        flex-direction: column-reverse;
      }
    }
  }
}

.tech {
  @include text-large;
  margin-bottom: 60px;
  text-align: right;
  @include laptop {
    margin-bottom: 5.2vw;
  }
  @include mobile {
    margin-bottom: 24px;
    text-align: left;
  }
}

.author_wrapper_masha {
  margin-bottom: 29px;
  @include mobile {
    margin-bottom: 100px;
  }
  & > div {
    justify-content: flex-end;
    @include mobile {
      justify-content: flex-start;
    }
  }
}

.steps {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10%;
  .concept {
    & > h3 {
      padding-left: 22px;
      margin-bottom: 36px;
      @include m6;
      font-size: 42px;
      line-height: 45px;
      letter-spacing: -1.26px;
      position: relative;
      &::before {
        content: "Этап 1";
        position: absolute;
        top: 5px;
        transform: translateY(-100%);
        left: 0;
        @include text-small;
      }
    }
    & > ul {
      & > li {
        padding-left: 22px;
        font-size: 24px;
        line-height: 27px;
        letter-spacing: -0.48px;
        @include laptop {
          font-size: 1.8vw;
          line-height: 2vw;
        }
        @include mobile {
          font-size: 16px;
          line-height: 20px;
        }
      }
    }
  }
}
