@import "styles/variables.scss";

.tech {
  @include text-large;
  margin-bottom: 60px;
  text-align: right;
  @include laptop {
    margin-bottom: 5.2vw;
  }
  @include mobile {
    margin-bottom: 24px;
    text-align: left;
  }
  & > span {
    display: block;
  }
}

.author_wrapper_masha {
  margin-bottom: 29px;
  @include mobile {
    margin-bottom: 100px;
  }
  & > div {
    justify-content: flex-end;
    @include mobile {
      justify-content: flex-start;
    }
  }
}
