@import "styles/variables.scss";

.footer {
  width: 100%;
  z-index: 100;
  background-color: #f6f5f5;
}

.wr {
  display: grid;
  padding: 64px 0 33px;
  gap: 107px;
  grid-template-columns: 1fr 1.15fr;

  @include laptop {
    padding: 4.57vw 0 2.36vw;
    gap: 7.64vw;
  }
  @include mobile {
    padding: 44px 0 36px;
    grid-template-columns: 1fr;
  }
}

.footer_bottom {
  padding: 44px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include laptop {
    padding: 3.14vw 0;
  }
  @include mobile {
    flex-direction: column;
    padding: 20px 0;
    gap: 40px;
    align-items: flex-start;
  }
  &__list {
    display: flex;
    gap: 36px;
    @include laptop {
      gap: 2.57vw;
    }
    @include mobile {
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
    }
  }
  &__contacts {
    display: flex;
    align-items: center;
    gap: 56px;
    @include laptop {
      gap: 4vw;
    }
    @include mobile {
      gap: 24px;
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

.policy {
  margin-bottom: 111px;
  max-width: 182px;
  @include text-small;
  align-self: start;

  @include laptop {
    margin-bottom: 8.67vw;
    max-width: 14.2vw;
  }
  @include mobile {
    justify-self: center;
    max-width: 100%;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
  }
  & p > a {
    @include hoveredText;
  }
  &:hover {
    & p > a {
      background-size: 100% 1px;
      @include mobile {
        background-size: 100% 1px;
      }
    }
  }
}

.item {
  font-size: 12px;
  line-height: 125%;
  color: #2a2929;
  word-break: break-word;
  @include laptop {
    font-size: 0.86vw;
  }
  @include mobile {
    font-size: 12px;
  }
}

.authors {
  margin-bottom: 72px;
  @include laptop {
    margin-bottom: 5.14vw;
  }
  @include mobile {
    margin-bottom: 44px;
  }
  & > ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    flex-wrap: wrap;
    @include laptop {
      gap: 2.86vw;
    }
    @include mobile {
      gap: 12px;
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &_title {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 32px;
    line-height: 132%;
    color: #222;
    @include laptop {
      font-size: 1.29vw;
      margin-bottom: 2.29vw;
    }
    @include mobile {
      margin-bottom: 20px;
      font-size: 20px;
    }
  }
}
.logo {
  flex-shrink: 0;
  width: 90px;
  height: 20px;
  transition: opacity 0.3s;
  &:hover {
    opacity: 0.9;
  }
  &:active {
    opacity: 0.8;
  }
  & > svg {
    display: block;
    object-fit: contain;
  }
  @include laptop {
    width: 6.43vw;
    height: 1.43vw;
  }
  @include mobile {
    width: 76px;
    height: 16px;
    align-self: start;
    justify-self: end;
  }
}
.artel {
  display: block;
  flex-shrink: 0;
  height: 24px;
  width: 112px;
  flex-shrink: 0;
  @include laptop {
    width: 8vw;
    height: 1.71vw;
  }
  @include mobile {
    width: 112px;
    height: 24px;
  }
  transition: opacity 0.3s;
  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.4;
  }
  & > img {
    display: block;
    object-fit: contain;
    height: 100%;
    width: 100%;
  }
}

// ----- events -----

.events {
  &_wrapper {
    padding: 36px 0;
    display: grid;
    grid-template-rows: auto 1fr;
    height: 736px;

    @include laptop {
      height: 52.57vw;
      padding: 2.57vw 0;
    }
    @include mobile {
      padding: 0;
      height: auto;
    }
    &__flex {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 24px;
      @include laptop {
        gap: 1.71vw;
      }
      @include mobile {
        gap: 24px;
      }
    }
  }
  &_title {
    font-weight: 400;
    line-height: 125%;
    letter-spacing: -0.03em;
    color: #222;
    font-size: 36px;
    margin-bottom: 60px;
    @include laptop {
      font-size: 2.57vw;
      margin-bottom: 4.29vw;
    }
    @include mobile {
      font-size: 20px;
      margin-bottom: 28px;
      max-width: 70%;
    }
  }
  &_button {
    padding: 1em;
    font-size: 18px;
    line-height: 132%;
    color: #000;
    border: 0.75px solid #000;
    border-radius: 85px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, color 0.3s;
    &:hover {
      color: #fff;
      background-color: #000;
    }
    @include laptop {
      height: 5.71vw;
      font-size: 1.29vw;
      border-radius: 6.07vw;
    }
    @include mobile {
      font-size: 14px;
      border-radius: 64px;
      height: 52px;
    }
  }
  &_list {
    display: flex;
    flex-direction: column;
    gap: 36px;
    @include laptop {
      gap: 2.57vw;
    }
    @include mobile {
      gap: 16px;
    }
  }
  &_item {
    & > a {
      display: flex;
      justify-content: space-between;
      gap: 16px;
      @include laptop {
        gap: 1.14vw;
      }
      @include mobile {
        gap: 16px;
      }
      & p {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
    @include laptop {
      padding-bottom: 1.43vw;
    }
    @include mobile {
      padding-bottom: 12px;
    }
    &__arrow {
      flex-shrink: 0;
      transition: transform 0.3s;
      transform-origin: center center;
      width: 28px;
      height: 28px;
      @include laptop {
        width: 2vw;
        height: 2vw;
      }
      @include mobile {
        width: 21px;
        height: 21px;
      }
      & > svg {
        display: block;
      }
    }
    & p {
      font-size: 18px;
      line-height: 132%;
      color: #222;
      @include laptop {
        font-size: 1.29vw;
      }
      @include mobile {
        font-size: 13px;
      }
    }
    &:hover {
      .events_item__arrow {
        transform: rotate(45deg);
      }
    }
  }
}
